<div>
        <h1>Angular</h1>
        <p [appStyle]="'red'"
                [dStyle]="{border:'1px solid green',borderRadius:'15px',fontSize:'30px', fontWeight:'bold',padding:'5px'}">
                Lorem,
                ipsum
                dolor sit amet
                consectetur adipisicing elit.
                Eius, consectetur.
        </p>
        <p [appStyle]="'blue'"
                [dStyle]="{border:'4px solid green',borderRadius:'5px',fontSize:'30px', fontWeight:'bold',padding:'15px'}">
                Lorem,
                ipsum
                dolor sit amet
                consectetur adipisicing elit.
                Eius, consectetur
        </p>

        <button (click)="isVisible=!isVisible">Toggle</button>
        <p *ngIf="isVisible">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ducimus autem pariatur quae molestias
                reiciendis, sit ut est ad sint!
        </p>
</div>